<%= provide(:title, "Sign in") %>

	<div class="row-fluid">
		<div class="col-md-6 col-md-offset-3">
			<h1>Sign in</h1> <br/>
			<%= form_for :session, url: sessions_path do |f| %>

				<%= f.label :email %> <br/>
				<%= f.text_field :email %> <br/>

				<%= f.label :password %> <br/>
				<%= f.password_field :password %> <br/>



				<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>

			<% end %>
		</div>
	</div>