<%= provide(:title, "Create a New Job Posting") %>

	<div class="row-fluid">
		<div class="col-md-6 col-md-offset-3">
			<h1>Add a Job Posting!</h1> <br/>
			<%= form_for(@job_posting) do |f| %>
				<%= render 'shared/error_messages', awesomeobject: @job_posting %>

				<%= f.label :title %> <br/>
				<%= f.text_field :title %> <br/>

				<%= f.label :description %> <br/>
				<%= f.text_field :description %> <br/>

				<%= f.label :city %> <br/>
				<%= f.text_field :city %> <br/>

				<%= f.label :state %> <br/>
				<%= f.text_field :state %> <br/>

				<%= f.label :tag, "Tag" %> <br/>
				<%= f.text_field :tag %> <br/><br/>

				<%= f.submit "Add Job Posting", class: "btn btn-large btn-primary" %>

			<% end %>
		</div>
	</div>