
<div class="row-fluid">
	<div class="col-md-9 col-md-offset-2">
		<nav class="navbar navbar-default" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  	<div class="navbar-header">
		    	<%= link_to "Consumer App", root_path, class: "navbar-brand" %>
		  	</div>
		  	<div class="collapse navbar-collapse  pull-right" id="bs-example-navbar-collapse-1">
			    <ul class="nav navbar-nav">
			      <li class="active"><a href="#">Help</a></li>
			      <!-- <li><a href="#">Sign in</a></li> -->
			    </ul>

			<% if signed_in? %>
				<p class="navbar-text navbar-right"><%= link_to "Log out (#{current_user.name})", signout_path, { method: "delete", class: "navbar-link"} %></p>	
			<% end %>
			<% if signed_in? && employer_user? %>	
				<p class="navbar-text navbar-right"><%= link_to "My Profile", employer_path(current_user) , class: "navbar-link" %></p>
			<% elsif signed_in? && sponsor_user? %>	
				<p class="navbar-text navbar-right"><%= link_to "My Profile", sponsor_path(current_user) , class: "navbar-link" %></p>
			<% end %> 

			<% if signed_in? && employer_user? %>			
				<p class="navbar-text navbar-right"><%= link_to "Settings", edit_employer_path(current_user), class: "navbar-link" %></p>
			<% elsif signed_in? && sponsor_user? %>			
				<p class="navbar-text navbar-right"><%= link_to "Settings", edit_sponsor_path(current_user), class: "navbar-link" %></p>
			<% else %> 
				<p class="navbar-text navbar-right">Not signed in<a href="#" class="navbar-link">!</a></p>
			<% end %> 
			</div>
		</nav>
	</div>
</div>