
<div class="row-fluid">
	<div class="col-md-9 col-md-offset-2">
		<nav class="navbar navbar-default" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  	<div class="navbar-header">
		    	<%= link_to "Consumer App", root_path, class: "navbar-brand" %>
		  	</div>
		  	<div class="collapse navbar-collapse  pull-right" id="bs-example-navbar-collapse-1">
			    <ul class="nav navbar-nav">
			      	<li class="#{is_active?(static_pages_help_path)}"><a href="#">Help</a></li>
			      <!-- <li><a href="#">Sign in</a></li> -->
					<% if signed_in? && employer_user? %>	
						<li class="<%= "#{is_active?(employer_path(current_user))}"%>"><%= link_to "My Profile", employer_path(current_user) , class: "navbar-link" %></li>
					<% elsif signed_in? && sponsor_user? %>	
						<li class="<%= "#{is_active?(sponsor_path(current_user))}"%>"><%= link_to "My Profile", sponsor_path(current_user) , class: "navbar-link" %></li>
					<% end %> 
					<% if signed_in? && employer_user? %>			
						<li class="<%= "#{is_active?(edit_employer_path(current_user))}"%>"><%= link_to "Settings", edit_employer_path(current_user), class: "navbar-link" %></li>
					<% elsif signed_in? && sponsor_user? %>			
						<li class="<%= "#{is_active?(edit_sponsor_path(current_user))}"%>"><%= link_to "Settings", edit_sponsor_path(current_user), class: "navbar-link" %></li>
					<% end %> 
					<% if signed_in? %>
						<li class="<%= "#{is_active?(signout_path)}" %>"> <%= link_to "Log out (#{current_user.name})", signout_path, { method: "delete", class: "navbar-link"} %></li>
					<% else %>
						<li class="<%= "#{is_active?(signin_path)}"%>"><%= link_to "Sign in", signin_path %></li>
					<% end %>
			 	</ul>
			</div>
		</nav>
	</div>
</div>



